* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    background: url('imagens/venus-back.jpg') no-repeat bottom center;
    background-size: cover;
}

#button {
    position: absolute;
    background-color: rgba(247, 184, 255, 0.399);
    width: 120px;
    height: 110px;
    top: 51%;
    left: 64%;
    border-radius: 50%;
    cursor: pointer;
}

#button p {
    text-align: center;
    margin-top: 45px;
    font-weight: bolder;
}

#msg {
    opacity: 0;
    background-color: rgba(247, 184, 255, 0.951);
    width: 80vw;
    height: 50vh;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.329);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
}

h2 {
    text-align: center;
    margin-bottom: 7px;
}

#msg p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}